.comments_container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 30px;
    h1{
        margin-bottom: 10px;
    }

    .trip_info{

        .owner_{
            display: flex;
            align-items: center;
            line-height: 30px;

            p{
                font-size: 14px;
            }
            h4{
                font-size: 16px;
                margin-left: 40px;
            }
            .status_{
                background-color: #E7F6F2;
                color: #5DD0BD;
                padding: 4px 6px;
                border-radius: 4px;
            }
        }
    }

    .comments_section{
        margin-top: 20px;
        p{
            color: #606060;
            font-style: normal;
            font-weight: 400;
            font-size: 16px; 
            margin-bottom: -7px;
        }

        .comment_{
            margin-top: 30px;
            width:80%;
            background-color: #F9FAFB;
            padding: 4px 6px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            p{
                color: #606060;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                padding: 4px 6px;
            }
            .delete_icon{
                color: red;
            }
        }

        form{
            margin-top: 60px;

            .comment_area{
                width: 50%;
                height: 100px;
                border-radius: 10px;
                padding: 10px;
                font-size: 12px;
            }
            .publish_button{
                background: #395B64;
                padding: 8px 20px;
                border: none;
                font-size: 14px;
                margin-left: 10px;
                color: #FFF;
                border-radius: 6px;
            }
        }
    }
}