.comment_{
    display: flex;
    align-items: center;

    p{
        border: 1px solid #3BCAB3;
        border-radius: 5px;
        padding: 4px 6px;
        // text-align: center;

        ._icon{
            color: #395B64;
            margin-right: 5px;
        }
        ._time{
            margin-left: 10px;
            color: #395B64;
            font-size: 8px;
        }
        ._date{
            color: #395B64;
            font-size: 8px;

        }

    }
    .delete_icon:hover{
        color: rgb(234, 1, 1);
    }
}



._form_comments{
    display: flex;
    margin-top: 15px;

    .comment_area{
        width: 100%;
    }

    .publish_button{
        background-color: #3BCAB3;
        border: none;
        border-radius: 2px;
        padding: 2px 4px;

        ._send_icon{
            color: #FFF;
        }
    }
    .publish_button:hover{
        background-color: #2b9b88;
    }
}