.Content {
    display: flex;
    background: #F5F5F5;
  
    .ContentContainer {
      flex: 6;
    
    .titleDashboard{
        width: 95%;
        margin: 5px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text{
          display: flex;
          align-items: center;
          padding: 20px;
          margin-top: 10px;
          gap: 20px;
          h3, h4,h6{
            color:#395B64;
            font-size: medium
            ;
          }
        }
    }
    .contentBlock{
      width: 95%;
      margin: 0px auto;
    form{
      width: 100%;
      
    
    .labelClass{
        padding-left: 10px;
        position: absolute;
        color: #606060;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        left: 220px;
        top: 250px;
        justify-content: space-between;
    }
    .inputData{
        position: absolute;
        width: 450px;
        border-color: #F9FAFB #F9FAFB #606060;
        height: 40px;
        left: 320px;
        top: 300px; 
    }
    .role{ 
        padding-left: 10px;
        position: absolute;
        color: #606060;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        left: 220px;
        top: 400px;  
    }
    .OptionSelect{
        position: absolute;
        width: 450px;
        border-color: #F9FAFB #F9FAFB #606060;
        height: 40px;
        left: 320px;
        top: 450px; 
    
    }
    .buttonClass{
      border: none;
      padding: 8px 8px;
      background: #395B64;
      border-radius: 5px;
      color: #FFFFFF;
      margin-top: 370px;
      margin-left: 250px;
      width: 120px;
        }
        .buttonClass:hover{
          background-color: #508695;
        }
      }
    }
  }
}