.formBody {
    background-color: #AEBCBF;
    height: 120vh;
    margin: 0px;
    position: absolute;
    width: 100%
}
.formWhite{
    margin: 6ex 0ex 0 0ex;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 3ex
}
 .header1,.header5{
    text-align: center;
    margin: 0.5ex;
    /*padding-top: 40px;*/
}
.form-login{
    /*padding: 15px;*/
    text-align: center;
}
.input-login,.btn{
    height: 6ex;
    padding: 12px 0;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 2px solid transparent;
    width: 90%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
}
.form-login .field{
    background-color: white;
    border: 2px solid gray;
    border-radius: 3px;
    margin: 3px;
    padding-left: 2ex ;
    margin-bottom: 15px;
}
.form-login .field:focus {
    border: 2px solid #395B64;
}
.form-login .btn{
    background-color: #395B64;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
}
.form-login .btn:hover,
.form-login .btn:active {
    background-color: #395B64;
    border: 2px solid #1F78B4;
    color: #fff;
}
.form-login .btn:disabled {
    background-color: #597B84;
    color: #fff;
}
.pass-link{
    text-align: center;
    margin: 15px;
}
.pass-link a:link,
.pass-link a:visited{
    font-size: 12px;
    color: #777;
}
.redErrorMessage{
    color: red;
    text-align: left;
    padding-left: 3ex;
}
.alert_success{
    font-size: 15px;
    background-color: green;
    color: #AEBCBF;
    border-radius: 4px;
    padding-left: 5px;
}