@use "colors";
$primary-color: #395b64;
$secondary-color: #dae9e9;
$light-color: #f5f5f5;
$grey-color: #eaebeb;

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem;
  justify-items: center;
}
