$primary-color: #395b64;
$light-primary-color: #606060;

.main {
  margin-top: 5rem;
}

.trips-chart {
  background-color: white;
  border-radius: 9px;
  width: 45rem;
  padding: 2rem;
  margin: 2rem;

  .chart-header::before {
    content: "";
    border-right: 5px solid $primary-color;
    margin-right: 1.2rem;
  }
  .chart-header {
    color: $primary-color;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .chart-container {
    position: relative;
  }
}

.stats-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 2rem;
}

.stats-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 9px;
  height: fit-content;

  .card-header {
    color: $primary-color;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .card-content {
    font-size: 3rem;
    color: $light-primary-color;
  }
}

.timeframe {
  display: flex;
  justify-content: space-around;
  align-items: center;

  label {
    font-size: 1.5rem;
  }
}

.dropdown-timeframe {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .options {
    padding: 1.5rem;
    border: 0;
    border-radius: 9px;
    font-size: 1.5rem;
  }
}

.form-timeframe {
  display: none;
  justify-content: center;
  align-items: center;

  .input-group {
    margin: 2rem;
    padding: 0.5rem;
  }

  .input-date {
    border: 0;
    border-radius: 9px;
    padding: 1rem;
  }
}

.form-timeframe.active {
  display: flex;
}

.btn-timeframe {
  background-color: $primary-color;
  color: #fff;
  width: 80%;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 8px;
  border: none;
  outline: 0;
  font-weight: 600;
  padding: 0.7rem 1rem;
}

.btn-timeframe:hover,
.btn-timeframe:focus {
  background-color: darken($color: $primary-color, $amount: 5%);
}
