.map{
  /* width: 100%; */
  
}
.map-h2 {
    display: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px;
    padding-left: 10px;
    text-align: center;
  }
  
  .google-map {
    width: 70%;
    /* height: 14px; */
  }
  
  .pin {
    align-items: center;
    /* width: 180px; */
    color: var(--main-blue);
  }
  
  .pin-icon {
    /* font-size: 1.3rem; */
    color: red;
  }
  
  .pin-text {
    font-size: 1.3em;
    color: red;
    text-align: center;
  }
  
  @media screen and (min-width: 799px) {
    .google-map {
      height: 80vh;
    }
  
    .map-h2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      width: 15vw;
    }
  
    .pin-icon {
      font-size: 10vw;
    }
  }